.p {
  text-align: center;
}
.p {
  background-color: grey;
  color: white;
  border: 4px solid black;
  margin: 20px;
  padding: 20px;
}
.right {
  position: absolute;
  right: 0px;
  width: 300px;
  border: 5px solid black;
  padding: 10px;
  height: 300px;
  background-color: #D6D5D5  ;
  float: right;
  padding:1em;
  margin:80px 1em 1em 0px;
  }
.l {
  position: absolute;
  left: 10px;
  width: 300px;
  border: 5px solid black;
  padding: 10px;
  height: 300px;
  background-color: #D6D5D5 ;
  float: right;
  padding:1em;
  margin:80px 1em 1em 0px;
  }
.c {
  position: absolute;
  left: 800px;
  width: 300px;
  border: 5px solid black;
  padding: 10px;
  height: 300px;
  background-color: #D6D5D5 ;
  float: center;
  padding:1em;
  margin:80px 1em 1em 0px;
  }

.v {
  position: absolute;
  left: 400px;
  width: 300px;
  border: 5px solid black;
  padding: 80px;
  height: 300px;
  background-color: #D6D5D5 ;
  float: right;
  padding:1em;
  margin:80px 1em 1em 0px;
  }
.d {
  position: absolute;
  left: 1200px;
  width: 280px;
  border: 5px solid black;
  padding: 10px;
  height: 300px;
  background-color: #D6D5D5 ;
  float: center;
  padding:1em;
  margin:80px 1em 1em 0px;
  }
.center {
  margin: auto;
  width: 50%;
  border: 5px solid black;
  padding: 10px;
}
